@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400&display=swap');

body {
      font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5 {
      font-family: Montserrat, sans-serif;
}