/*
 * Variables
 */
/*
 * Includes
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@400&display=swap");
body {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Montserrat, sans-serif;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh;
  background-size: cover;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* rtl:end:ignore */
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* Individual Slides
-------------------------------------------------- */
#carousel_slide_1 {
  background-image: url("/ui/images/background2.jpg");
  background-position: center center;
}

#carousel_slide_2 {
  background-image: url("/ui/images/background5.webp");
  background-position: center center;
}

#carousel_slide_3 {
  background-image: url("/ui/images/background3.jpg");
  background-position: center center;
}

.carousel-caption.highlight {
  background-color: rgba(var(--bs-light-rgb), 0.75) !important;
  padding-left: 5vw;
  padding-right: 5vw;
}

/*# sourceMappingURL=template.css.map */
